.App {
  text-align: center;
}
.nftGrid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.nftCard{
  border:1px white solid;
  background-color: rgb(37, 37, 37);
  margin: 2%;
  border-radius: 5%;
  padding:1%;
  font-size: 1.1rem;
}
button{
  margin:1%;
  font-size: 1.2rem;
  color:rgb(255, 255, 255);
  background-color: rgb(87, 87, 87);
  cursor: pointer;
  padding: 1%;
  border-radius: 15%;
}
button:hover{
  background-color: rgb(116, 116, 116);
}
